.catalog-section {
    padding: 40px 0;
    background-color: #0b1726;
    width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 5px 15px;

}

.catalog-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #151f30;
    padding: 23px 33px;
    border-radius: 12px;
}


.filter-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter-select {
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 18px;
    padding-right: 30px;
}

.filter-select:hover {
    color: #1564ed;
}

.filter-select option {
    background-color: #151f30;
    color: #fff;
    padding: 10px;
}

.filter-right {
    display: flex;
    gap: 10px;
    background-color: rgba(2, 0, 0, 0.322);
    padding: 5px;
    border-radius: 12px;
}

.filter-btn {
    background-color: transparent;
    border: none;
    color: #c4cad4;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 14px;

    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.6s ease, color 0.6s ease, transform 0.3s ease;
}

.filter-btn:hover {
    color: #0051ff;

}

.filter-btn.active {
    background-color: #212936 !important;
    color: #0051ff !important;
}


.catalog-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    row-gap: 40px;

}

.load-more {
    display: block;
    margin: 50px auto 0;
    padding: 12px 35px;
    background-color: transparent;
    border: 2px solid #2f80ed;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.load-more:hover {
    background-color: #2f80ed;
}

@media (min-width: 1200px) {
    .catalog-grid {
        grid-template-columns: repeat(6, 1fr);
    }

}



@media (min-width: 992px) and (max-width: 1199px) {
    .catalog-grid {
        display: grid;
        grid-template-columns: repeat(4, 210px);
        justify-content: center;
        gap: 20px;
        margin-top: 30px;

    }



    .catalog-filter {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 23px 33px;
        margin-bottom: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #151f30;
        border-radius: 12px;
        width: 100%;
        box-sizing: border-box;

    }

    .filter-select {
        padding: 6px 12px;
        font-size: 13px;
        background-size: 14px;
        padding-right: 25px;
    }

    .filter-right {
        padding: 4px;
        gap: 5px;
    }

    .filter-left {
        gap: 10px;
    }

    .filter-btn {
        padding: 6px 15px;
        font-size: 13px;
    }

}


@media (min-width: 767px) and (max-width: 991px) {
    .catalog-grid {
        grid-template-columns: repeat(3, 210px);
        gap: 15px;
        row-gap: 30px;
        justify-content: center;

    }


    .catalog-filter {
        max-width: 660px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;

    }

    .filter-btn {
        padding: 6px 15px;
        font-size: 13px;
    }

    .filter-select {
        padding: 6px 12px;
        font-size: 13px;
        background-size: 14px;
        padding-right: 25px;
    }

    .filter-left,
    .filter-right {
        width: auto;
        display: flex;
        align-items: center;
    }
}


@media (min-width: 576px) and (max-width: 766px) {
    .catalog-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        row-gap: 25px;
        margin: 0 auto;
        justify-content: center;
        max-width: 500px;
        width: 100%;
    }


    .catalog-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        background-color: #151f30;
        border-radius: 12px;

        margin: 0 auto 30px;
        max-width: 500px;
        width: 100%;
        box-sizing: border-box;

    }

    .filter-left {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 10px;

    }

    .filter-right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 4px;
        border-radius: 8px;
    }

    .filter-btn {
        flex: 1;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
    }

    .filter-select {
        font-size: 13px;
    }
}

@media (max-width: 575px) {


    .catalog-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        row-gap: 20px;
        justify-content: center;
        max-width: 400px;
        width: 90%;

        margin: 30px auto 0;
    }

    .catalog-filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding: 15px;
        background-color: #151f30;
        border-radius: 12px;
        width: 90%;
        max-width: 400px;
        margin: 0 auto 25px;
        box-sizing: border-box;

    }

    .filter-left,
    .filter-right {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    .filter-select {
        font-size: 12px;

    }



}